<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>09:00</td><td> Running and Quitting </td></tr>
      <tr><td>09:15</td><td> Variables and Assignment </td></tr>
      <tr><td>09:35</td><td> Data Types and Type Conversion </td></tr>
      <tr><td>09:55</td><td> Built-in Functions and Help </td></tr>
      <tr><td>10:20</td><td> Morning Coffee </td></tr>
      <tr><td>10:35</td><td> Libraries </td></tr>
      <tr><td>10:55</td><td> Reading Tabular Data into DataFrames </td></tr>
      <tr><td>11:15</td><td> Pandas DataFrames </td></tr>
      <tr><td>11:45</td><td> Plotting </td></tr>
      <tr><td>12:15</td><td> Lunch </td></tr>
      <tr><td>13:00</td><td> Lists </td></tr>
      <tr><td>13:20</td><td> For Loops </td></tr>
      <tr><td>13:45</td><td> Looping Over Data Sets </td></tr>
      <tr><td>14:00</td><td> Writing Functions </td></tr>
      <tr><td>14:25</td><td> Variable Scope </td></tr>
      <tr><td>14:45</td><td> Afternoon Coffee </td></tr>
      <tr><td>15:00</td><td> Conditionals </td></tr>
      <tr><td>15:25</td><td> Programming </td></tr>
      <tr><td>15:55</td><td> Wrap-Up </td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr><td>09:00</td><td> Questions </td></tr>
      <tr><td>09:30</td><td> Introducing the Shell </td></tr>
    </table>
  </div>
</div>
